div.calendar_container {
  width: 890px;
}

.calendar_form {
  text-align: center;
}

.month_header{
  text-align: center;
}

.day_headers{
  
}

.day_header {
  width: 126px;
  text-align: center;
  float: left;
}

.week{
  height: 110px;
  overflow: visible;
}

.week .day {
  width: 125px;
  height: 100%;
  border: 0px solid #CFD4E6;
  border-left-width: 1px;
  border-top-width: 1px;
  background-color: #FFF;
  float: left;
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4em;
  white-space: nowrap;
  overflow: visible;
}

.week .curr {
  background-color: #E6ECFF;
}

.week .blank {
  border-color: #FFF;
  background-color: #FFF;
}

.week .day .head {
  background-color: #DDDFFF;
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}

.week .curr .head {
    background-color: #CFD4E6;
}

.week .day .event {
  padding: 2px;
  overflow: hidden;
}

.week .day .time {
  font-weight: bold;
}

.week .day .label {
  cursor: pointer;
}

.week .day .more {
  text-align: center;
}

.week .day .more a {
  text-decoration: none;
  color: blue;
}

.week .day .more a:hover {
  text-decoration: underline;
}

.week .day .more_events {
	margin-left: -1px;
	position: relative;
	z-index: 3;
    background-color: #FFF;
	border-color:#CFD4E6;
	border-style:solid;
	border-width: 0 1px 1px 1px;
}

.clear_div{
  clear: both;
}
