div.calendar_container {
  width: 890px;
}

.calendar_form {
  text-align: center;
}

.month_header{
  text-align: center;
}

.day_headers{
  
}

.day_header {
    position: relative;
  width: 126px;
  text-align: center;
  float: left;
  z-index: 2;
}

.week {
  height: 110px;
  overflow: visible;
}

.long {
  height: 600px;  
}

.day {
  width: 125px;
  height: 100%;
  border: 0px solid #CFD4E6;
  border-left-width: 1px;
  border-top-width: 1px;
  background-color: #FFF;
  float: left;
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4em;
  white-space: nowrap;
  overflow: visible;
}

.curr {
  background-color: #E6ECFF;
}

.blank {
  border-color: #FFF;
  background-color: #FFF;
}

.day .head {
  display: block;
  background-color: #DDDFFF;
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}

.day .head div.new_on_day {
  float: left;
  text-align: center;
  font-size: 15px;
  width: 20px;
}

.day .head div.new_on_day a {
  display: inline-block;
  width: 100%;
}

.day .head div.new_on_day a:hover {
  background-color: #366492;
  color: #FFF;
}

.curr .head {
    background-color: #CFD4E6;
}

.day .event {
  padding: 2px;
  overflow: hidden;
}

.day .floater {
  width: 90%;
  background-color: #DDDFFF;
  margin-left: 3px;
  border-color: #6a88af;
  border-style: dotted;
  border-width: 1px 0 1px 0;
  overflow: hidden;
}

.day .floater .event_head {
  background-color: #CFD4E6;
}

.day .midnight {
  border-bottom-width: 0px;
}

.day .time {
  font-weight: bold;
}

.day .label {
  cursor: pointer;
}

.day .more {
  text-align: center;
}

.day .more a {
  text-decoration: none;
  color: blue;
}

.day .more a:hover {
  text-decoration: underline;
}

.day .more_events {
  margin-left: -1px;
  position: relative;
  z-index: 3;
  background-color: #FFF;
  border-color:#CFD4E6;
  border-style:solid;
  border-width: 0 0 1px 1px;
}

.clear_div{
  clear: both;
}

.grid_divider {
    height: 4.16667%;
    width: 100%;
    border-bottom: 1px solid #CCC;
}